.header{
    h1{
        font-size: 80px;
    }
    h2{
        font-size: 32px;
    }
    span{
        font-size: 24px;
        color: #A00404;
        padding-left: 16px;
        font-weight: 500;
    }
    ul li{
        font-size: 24px;
    }
}
.header_line{
    border-bottom: 2px solid black;
}
.line{
    border-bottom:1px solid black;
}