.work{
    h2{
        font-size: 32px;
    }
    span{
        font-size: 24px;
        color: #A00404;
        padding-left: 16px;
        font-weight: 500;
    }
    ul{
        border-left: 1px solid #96A9C4;
        margin-left: 24px;
        width: 642px;
    }
    ul li{
        font-size: 24px;
    }
    ul li p{
        font-size: 20px;
    }
}